*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

h1{
    font-family: 'Lobster', cursive;
}

h2{
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
}
h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-brand{
    font-family: 'Noto Serif JP', serif;
}

.navbar{    
    padding-top: 1230px;;
}
.first-section {
    padding-top: 80px;
    padding-bottom: 80px;
    display: block;
}

.text1{
    color: #D96100;
    letter-spacing: 2px;
    margin-bottom: 10px;
    position: relative;
    animation: text 1.5s 1;
}

.text2{
    color: #009810;
    letter-spacing: 2px;;
}

.typing-text span{
    animation: caret 1s steps(1) infinite;
}

.footer{
    background-color:darkseagreen;
    padding-top: 25px;
    padding-bottom: 10px;;
}

.copyrights{
    text-align: right;
    padding-right: 20px;
}

@keyframes caret {
    50% {
      border-color: transparent;
    }
  }

@keyframes text{
    0%{
        color: #fff;
        margin-bottom: -20px;
    }
    30%{
        letter-spacing: 15px;
        margin-bottom: -20px;
    }
}


